<% content_for :page_title, "Edit Category" %>
<% content_for :page_subtitle, @category.name %>
<div class="bg-gray-900 border border-gray-800 rounded-2xl p-6">
  <%= render "form", category: @category %>
</div>
